# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Misc
.deps
.libs
.intltool-merge*
autom4te.cache
ChangeLog
Makefile
Makefile.in
Makefile.in.in
POTFILES
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure.ac
configure
depcomp
install-sh
intltool*
libtool
ltmain.sh
m4
missing
stamp-*
*desktop
*gmo
*pot
*spec
*tar.bz2
